@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
  }
  a:hover,
  a:focus,
  a:visited,
  a:active {
    text-decoration: none;
  }
  body {
    margin: 0;
    padding: 0;
    
  }
  body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background:  #fff;
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: #5DC2AC;
  }

  #auto_scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#00ECE1;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 9999;
}
#auto_scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#auto_scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


  #background{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)), url(../images/component.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    top: 0;
    z-index: -1;
   
  }

  #background .bg_text .comp_mobile{
    display: none;
  }
  #background .bg_text{
    padding-top: 280px;
    padding-left: 50px;
    text-transform: capitalize;
  }
  #background .bg_text h1{
    font-size: 80px;
    color: #fff;
    font-weight: lighter;
  }
  #background .bg_text h5{
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
  }
  #background .bg_text a{
    text-decoration: none;
    border: 2px solid white;
    transition: 0.5s;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    text-transform: none;
  }
  #background .bg_text a:hover{
    border: 2px solid #5DC2AC;
    color: #5DC2AC;
  }
  #background .bg_text .grad-bar{
    margin-top: 60px;
    width: 165px;
  }

  .navigation {
    width: 100%;
    height: 180px;
    position: absolute;
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }





  /* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: none;

}

.grad-bar {
  width: 100%;
  height: 7px;
  background: linear-gradient(-45deg, rgb(8, 90, 138), #00ECE1, rgb(119, 119, 245), #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 5s ease infinite;
	-moz-animation: gradbar 5s ease infinite;
	animation: gradbar 5s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* align-items: center; */
  height: 90px;
  overflow: hidden;
  padding-top: 20px;

}

.navbar .logo_desktop {
  height: 60px;
  width: auto;
  justify-self: start;
  z-index: 980;
  padding-left: 50px;
}
.navbar .logo_mobile{
  display: none;
  height: 40px;
  width: auto;
  justify-self: start;
  z-index: 980;
  margin-left: 20px;
  padding-top: 10px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  padding-top: 20px;
}
.navbar li{
  padding: 0 30px;
}
.nav-item a {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  display: inline-block;
  position: relative;
}

.nav-item a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #5DC2AC;
  bottom: -7px;
  transform: scale(0, 1);
  transition: transform .3s;
  transform-origin: center top;
}
.nav-item a:hover::after {
  transform: scale(1, 1.5);
}



.nav-item2 a {
  display: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.nav-item3 a{
  display: none;
}
.nav-item4 a{
  display: none;
}





/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
  z-index: 999;
  margin-top: 10px;

}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
.knowMore{
  display: none;
}

  #background{
    background: transparent linear-gradient(330deg, #0B7EBF 0%, #00ECE1 100%) 0% 0% no-repeat padding-box;
    width: 100%;
  }
  #background .bg_text{
    width: 100%;
    height: auto;
    padding-top: 180px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
    text-align: center;
  }

  #background .bg_text h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }
  #background .bg_text h5{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
  } 
   #background .bg_text a:hover{
    background-color: #5DC2AC;
    color: #fff;
  }
  #background .bg_text .grad-bar{
    display: none;
  }
  #background .bg_text .comp_mobile{
    display: block;
    margin: auto;
    width: 350px;
    margin-top: 20px;
    padding-right: 25px;
  }

  /* MOBILE NAVIGATION */
     .navbar{
       margin: 0;
       padding-top: 0px;
       overflow-x: hidden;
     }
     .navbar .logo_desktop{
      display: none;
     }
     .navbar .logo_mobile{
      display: block;
     }
     .menu-toggle .bar{
       background-color: #fff;
     }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #171717;
    width: 100%;
    height: 100vh;
    position: fixed;
    transform: translate(105%);
    text-align: right;
    transition: 0.7s;
    z-index: 999;
  }
  
  .navbar .nav-item {
    padding: 10px 25px;
  }
  
  .navbar li:first-child {
    margin-top: 70px;
  }
  
  .navbar .nav-item a {
    color: white;
    font-size: 1.8rem;
    font-weight: bolder; 
    
  }.navbar .nav-item2{
    padding: 5px 25px;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
.nav-item2 a {
  display: flex;
  font-size: 0.7rem;
  float: right;
  font-weight: bolder;
}
.nav-item3{
  display: flex;
}
.nav-item3 a{
  display: table-row;
  float: right;
}

.nav-item4{
  display: block;
}
.nav-item4 a{
  display: table-row;
  float: right;
}






}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  
  /* MOBILE NAVIGATION */
  .navbar {
    margin: 0;
    padding-top: 0px;
    overflow-x: hidden;
  }

  .navbar .logo_desktop {
    display: none;
  }

  .navbar .logo_mobile {
    display: block;
  }

  .menu-toggle .bar {
    background-color: #00ECE1;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    background-color: #171717;
    width: 100%;
    height: 100vh;
    position: fixed;
    transform: translate(105%);
    text-align: left;
    transition: 0.7s;
    z-index: 999;
  }

  .navbar .nav-item {
    padding: 10px 25px;
  }

  .navbar li:first-child {
    margin-top: 0px;
  }

  .navbar .nav-item a {
    font-size: 1.8rem;
    font-weight: bolder;

  }

  .navbar .nav-item2 {
    padding: 5px 25px;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  .nav-item2 a {
    display: flex;
    font-size: 0.7rem;
    float: left;
    font-weight: bolder;
  }

  .nav-item3 {
    display: flex;
    justify-content: left;
    margin-left: -20px;
  }

}

@media only screen and (max-width : 320px){
 /* MOBILE NAVIGATION */
 .navbar {
  margin: 0;
  padding-top: 0px;
  overflow-x: hidden;
}

.navbar .logo_desktop {
  display: none;
}

.navbar .logo_mobile {
  display: block;
}

.menu-toggle .bar {
  background-color: #00ECE1;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  background-color: #171717;
  width: 100%;
  height: 100vh;
  position: fixed;
  transform: translate(105%);
  text-align: left;
  transition: 0.7s;
  z-index: 999;
}

.navbar .nav-item {
  padding: 10px 25px;
}

.navbar li:first-child {
  margin-top: 0px;
}

.navbar .nav-item a {
  font-size: 1.3rem;
  font-weight: bolder;

}

.navbar .nav-item2 {
  padding: 5px 25px;
}

.menu-toggle,
.bar {
  display: block;
  cursor: pointer;
}

.mobile-nav {
  transform: translate(0%) !important;
}

.nav-item2 a {
  display: flex;
  font-size: 0.5rem;
  float: left;
  font-weight: bolder;
}

.nav-item3 {
  display: flex;
  justify-content: left;
  margin-left: -20px;
}

}
@media screen and (max-width: 360px){
  #background .bg_text{
    padding-top: 140px;
  }
  #background .bg_text h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  #background .bg_text h5{
    font-size: 9px;
    text-align: center;
    font-weight: bold;
  } 
  #background .bg_text a{
    font-size: 10px;
  }
  #background .bg_text .comp_mobile{
    width: 300px;
  }
}

























/* ABOUT CONTAINER AND TEXT */

#about{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0px;
    z-index: -1;
}


.about_container {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 50px;
    word-spacing: 3px;
    line-height: 30px;
    padding: 5%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrap {
  color: #00F5DC;
  font-size: 45px;
  line-height: 36px;
  display: flex;
  height: 34px;

}

.left-text {
  color: black;
}

.right-text {
  margin-left: 5px;
  overflow: hidden;
}

.flip-wrap {
  animation: flip 5s infinite;
  margin-top: -136px;
}

.flip {
  font-weight: bold;
}

@keyframes flip {
  from {
    margin-top: 0px;
  }
  70% {
    margin-top: 0px;
  }
  35% {
    margin-top: -36px;
  }
  35% {
      margin-top: -36px;
    }
    to{
      margin-top: 0px;
    }
}
.about_container p{
  text-align: center;
  font-size: 20px;
}
.about_container p span{
  font-size: 40px;
  color: rgb(5, 216, 195);
}


/* MOBILE desktop_menu */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

#about{
  position: absolute;
}
.about_container{
  top: 65%;
}
.title-wrap {
  font-size: 24px;
}
.about_container p{
  font-size: 13px;
}
.about_container p span{
font-size: 30px;
}
}

@media only screen and (max-width : 320px) {
  #about{
    position: absolute;
  }
  .about_container{
    top: 75%;
  }
  .title-wrap {
    font-size: 24px;
  }
  .about_container p{
    font-size: 13px;
  }
  .about_container p span{
  font-size: 30px;
  }
}






/* <------------------------FOOTER--------------------------> */




footer {
    position: absolute;
    color: #FFF;
    padding: 50px;
    width: 100%;
    height: 50vh;
    background-color: #0E0D11;
    top: 100vh;
    z-index: -1;
  }
  
  .footer-wrap{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .footer-wrap .about_foot{
    width: 30%;
  }
  .footer-wrap .about_foot img{
    width: 30%;
  }
  .foot_right a{
    text-decoration: none;
    display: table;
    color: white;
    padding: 10px 0;
  }
  .foot_right{
    display: flex;
    float: right;
    width: 90%;
    margin-left: 350px;
  }
  .footer-wrap h4{
    color: #00ECE1;
  }
  .info-links{
    padding: 0 50px;
    width: 30%;
  }
  .help-links{
    padding-left: 50px;
    width: 40%;
  }
  .contact_foot{
    padding: 0 50px;
    width: 30%;
    padding-left: 40px;
  }
  
  .footer_mobileWrap{
    display: none;
  }
  
  @media only screen and (max-width: 720px){
    footer{
      padding: 10px;
      height: 60vh;
    }
  
    .footer_mobileWrap{
      display: block;
    }
  
    .footer-wrap{
      display: none;
    }
    .head_flexItem{
      display: flex;
    }
    .head_flexItem img{
      width: 30%;
      height: 40px;
    }
    .head_flexItem .head_contact{
      float: right;
      margin-left: 50px;
    }
    .head_flexItem .head_contact a{
      text-decoration: none;
      color: #fff;
      display: block;
    }
    .flex_mobileLinks{
      display: flex;
      margin-top: 20px;
    }
    .flex_mobileLinks a{
      text-decoration: none;
      color: #fff;
    }
    .flex_mobileLinks h4{
      color: #00ECE1;
      margin-bottom: 10px;
    }
    .flex_mobileLinks .info-links{
      width: 30%;
      margin-right: 75px;
      margin-left: -50px;
    }
    .flex_mobileLinks .help-links{
      width: 70%;
  
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer {
      padding: 10px;
      height: 75vh;
      top: 1000px;
    }
  
    .footer_mobileWrap {
      display: block;
    }
  
    .footer-wrap {
      display: none;
    }
  
    .head_flexItem {
      display: flex;
    }
  
    .head_flexItem img {
      width: 30%;
      height: 40px;
    }
  
    .head_flexItem .head_contact {
      float: right;
      margin-left: 50px;
    }
  
    .head_flexItem .head_contact a {
      text-decoration: none;
      color: #fff;
      display: block;
    }
  
    .flex_mobileLinks {
      display: flex;
      margin-top: 20px;
    }
  
    .flex_mobileLinks a {
      text-decoration: none;
      color: #fff;
    }
  
    .flex_mobileLinks h4 {
      color: #00ECE1;
      margin-bottom: 10px;
    }
  
    .flex_mobileLinks .info-links {
      width: 30%;
      margin-right: 75px;
      margin-left: -50px;
    }
  
    .flex_mobileLinks .help-links {
      width: 70%;
  
    }
  }
  
  @media only screen and (max-width : 320px){
    footer {
      padding: 10px;
      height: 100vh;
    }
  
  }
  
  